@model IEnumerable<MCCM.Entidad.TMCCM_Vehiculo>

@{ 
    MCCM.Entidad.TMCCM_Grupo_Vehiculo grupo_Vehiculo = ViewBag.Grupo_Vehiculo;
}

<div class="modal fade" id="grupo_vehiculo-form-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Actualizar vehículo de grupo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="grupo_vehiculo-form">
                    <div class="form-group row justify-content-center">
                        <div class="row col-sm-6">
                            <input class="d-none form-control col-sm-11" type="text" id="TN_ID_Grupo_Vehiculo" name="TN_ID_Grupo_Vehiculo" value="@grupo_Vehiculo.TN_ID_Grupo_Vehiculo" readonly />
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label for="TN_ID_Grupo" class="control-label col-sm-3">Número de grupo: </label>
                        <div class="row col-sm-6">
                            <input class="form-control col-sm-11" type="text" id="TN_ID_Grupo-Vehiculo" name="TN_ID_Grupo" value="@grupo_Vehiculo.TN_ID_Grupo" readonly />
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label class="control-label col-sm-3" for="TN_ID_Vehiculo">Placa de vehículo:</label>
                        <div class="row col-sm-6">
                            <input class="form-control col-sm-11" type="text" value="@grupo_Vehiculo.TMCCM_Vehiculo.TC_Placa" readonly />
                            <input class="d-none form-control col-sm-11" type="text" id="TN_ID_Vehiculo" name="TN_ID_Vehiculo" value="@grupo_Vehiculo.TN_ID_Vehiculo" readonly />
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label for="TN_Km_Inicio" class="control-label col-sm-3">Km/Inicio: </label>
                        <div class="row col-sm-6">
                            <input class="form-control col-sm-11" type="text" id="TN_Km_Inicio" name="TN_Km_Inicio" value="@grupo_Vehiculo.TN_Km_Inicio" readonly />
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label for="TN_Km_Regreso" class="control-label col-sm-3">Km/Regreso </label>
                        <div class="row col-sm-6">
                            @if (grupo_Vehiculo.TN_Km_Regreso != null)
                            {
                                <input class="form-control col-sm-11" type="number" id="TN_Km_Regreso" name="TN_Km_Regreso" placeholder="Opcional" value="@grupo_Vehiculo.TN_Km_Regreso" readonly />
                            }
                            else
                            {
                                <input class="form-control col-sm-11" type="number" id="TN_Km_Regreso" name="TN_Km_Regreso" placeholder="Opcional" value="@grupo_Vehiculo.TN_Km_Regreso" />
                            }
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label for="TF_Fecha_Hora" class="control-label col-sm-3">Fecha/Hora: </label>
                        <div class="row col-sm-6">
                            <input class="form-control col-sm-11" type="text" id="TF_Fecha_Hora-Vehiculo" name="TF_Fecha_Hora" value="@(((DateTime) grupo_Vehiculo.TF_Fecha_Hora).ToString("yyyy-MM-dd HH:mm"))" required/>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <input type="button" value="Actualizar" class="btn btn-primary submit-button mx-2" onclick="actualizarGrupo_Vehiculo()" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    aplicarGrupo_VehiculoDateRangePicker();
    aplicarGrupo_VehiculoSelectPicker();
</script>
