@model MCCM.Entidad.TMCCM_Grupo

<div class="modal fade" id="grupo-form-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                @if (Model == null)
                {
                    <h4 id="gasto-form-modal-title" class="modal-title">Insertar Grupo</h4>
                }
                else
                {
                    <h4 id="gasto-form-modal-title" class="modal-title">Actualizar Grupo</h4>
                }
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="grupo-form">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row justify-content-center">
                        <label class="control-label col-md-3" for="TN_ID_Grupo">Número de gasto:</label>
                        <div class="row col-md-6">
                            @if (Model == null)
                            {
                                <input id="TN_ID_Grupo" name="TN_ID_Grupo" class="form-control col-md-11" type="text" value="0" readonly>
                            }
                            else
                            {
                                <input id="TN_ID_Grupo" name="TN_ID_Grupo" class="form-control col-md-11" type="text" value="@Model.TN_ID_Grupo" readonly>
                            }
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label class="control-label col-md-3" for="TN_ID_Caso">Número de caso:</label>
                        <div class="row col-md-6">
                            @if (Model == null)
                            {
                                <input id="TN_ID_Caso" name="TN_ID_Caso" class="form-control col-md-11" type="text" value="15" readonly>
                            }
                            else
                            {
                                <input id="TN_ID_Caso" name="TN_ID_Caso" class="form-control col-md-11" type="text" value="@Model.TN_ID_Caso" readonly>
                            }
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label class="control-label col-md-3" for="TC_Zona">Zona:</label>
                        <div class="row col-md-6">
                            @if (Model == null)
                            {
                                <input id="TC_Zona" name="TC_Zona" class="form-control col-md-11" type="text">
                            }
                            else
                            {
                                <input id="TC_Zona" name="TC_Zona" class="form-control col-md-11" type="text" value="@Model.TC_Zona">
                            }
                            <label id="TC_Zona-error" class="error" for="TC_Zona" style="display: none"></label>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label class="control-label col-md-3" for="TF_Fecha_Inicio">Fecha de Inicio:</label>
                        <div class="row col-md-6">
                            @if (Model == null)
                            {
                                <input id="TF_Fecha_Inicio" name="TF_Fecha_Inicio" class="form-control col-md-11" type="date" value="@DateTime.Today">
                            }
                            else
                            {
                                <input id="TF_Fecha_Inicio" name="TF_Fecha_Inicio" class="form-control col-md-11" type="date" value="@Model.TF_Fecha_Inicio">
                            }
                            <label id="TF_Fecha_Inicio-error" class="error" for="TF_Fecha_Inicio" style="display: none"></label>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label class="control-label col-md-3" for="TF_Fecha_Final">Fecha de Final:</label>
                        <div class="row col-md-6">
                            @if (Model == null)
                            {
                                <input id="TF_Fecha_Final" name="TF_Fecha_Final" class="form-control col-md-11" type="date" readonly>
                            }
                            else
                            {
                                <input id="TF_Fecha_Final" name="TF_Fecha_Final" class="form-control col-md-11" type="date" value="@Model.TF_Fecha_Final">
                            }
                            <label id="TF_Fecha_Final-error" class="error" for="TF_Fecha_Final" style="display: none"></label>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label class="control-label col-md-3" for="TF_Hora">Hora:</label>
                        <div class="row col-md-6">
                            @if (Model == null)
                            {
                                <input id="TF_Hora" name="TF_Hora" class="form-control col-md-11" type="time">
                            }
                            else
                            {
                                <input id="TF_Hora" name="TF_Hora" class="form-control col-md-11" type="time" value="@Model.TF_Hora">
                            }
                            <label id="TF_Hora-error" class="error" for="TF_Hora" style="display: none"></label>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label class="control-label col-md-3" for="Encargado">Encargado:</label>
                        <div class="row col-md-6">
                            <select id="Encargado" class="form-control col-md-11" name="Encargado" required>
                                <option selected disabled>Seleccione una opción</option>
                                @foreach (MCCM.Entidad.TMCCM_Usuario item in ViewBag.Usuarios)
                                {
                                    <option value="@item.TN_ID_Usuario">@item.TN_ID_Usuario @item.TC_Nombre @item.TC_Primer_Apellido</option>
                                }
                            </select>
                            <label id="Encargado-error" class="error" for="Encargado" style="display: none"></label>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label class="control-label col-md-3" for="Acompannantes">Acompañantes:</label>
                        <div class="row col-md-6">
                            <select id="Acompannantes" class="form-control col-md-11" name="Acompannantes" required>
                                <option selected disabled>Seleccione una opción</option>
                                @foreach (MCCM.Entidad.TMCCM_Usuario item in ViewBag.Usuarios)
                                {
                                    <option value="@item.TN_ID_Usuario">@item.TN_ID_Usuario @item.TC_Nombre @item.TC_Primer_Apellido</option>
                                }
                            </select>
                            <label id="Acompannantes-error" class="error" for="Acompannantes" style="display: none"></label>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <input type="submit" value="Insertar" class="btn btn-primary submit-button" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.mask.min.js"></script>

<script>
    aplicarValidGrupoForm();
    aplicarMaskGrupoForm();
</script>