@model MCCM.Entidad.TMCCM_Grupo

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>TMCCM_Grupo</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.TN_ID_Caso, "TN_ID_Caso", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("TN_ID_Caso", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TN_ID_Caso, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TF_Hora, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TF_Hora, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TF_Hora, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TC_Zona, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TC_Zona, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TC_Zona, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TF_Fecha_Inicio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TF_Fecha_Inicio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TF_Fecha_Inicio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TF_Fecha_Final, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TF_Fecha_Final, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TF_Fecha_Final, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TB_Eliminado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.TB_Eliminado)
                        @Html.ValidationMessageFor(model => model.TB_Eliminado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@


<div class="modal fade" id="grupo-form-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="grupo-form" method="post">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TN_ID_Grupo, "Número de grupo:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @Html.EditorFor(model => model.TN_ID_Grupo, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control col-md-11",
                                    type = "text",
                                    @readonly = "readonly"
                                }
                            })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TN_ID_Caso, "Numero de caso:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @Html.EditorFor(model => model.TN_ID_Caso, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control col-md-11 TN_ID_Caso",
                                    required = "required",
                                    type = "text",
                                    @readonly = "readonly"
                                }
                            })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TC_Zona, "Zona:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @Html.EditorFor(model => model.TC_Zona, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control col-md-11",
                                    @readonly = "readonly"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.TC_Zona, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TF_Fecha_Inicio, "Fecha de inicio:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @Html.EditorFor(model => model.TF_Fecha_Inicio, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control col-md-11",
                                    required = "required",
                                    type = "date"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.TF_Fecha_Inicio, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TF_Fecha_Final, "Fecha final:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @Html.EditorFor(model => model.TF_Fecha_Final, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control col-md-11",
                                    required = "required",
                                    type = "date"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.TF_Fecha_Final, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TF_Hora, "Hora:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @Html.EditorFor(model => model.TF_Hora, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control col-md-11",
                                    required = "required",
                                    type = "time"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.TF_Hora, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TMCCM_Grupo_Usuario, "Encargado:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @*@Html.EditorFor(model => model.TN_ID_Tipo_Gasto, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                            <select id="TMCCM_Grupo_Usuario" class="form-control col-md-11" name="TMCCM_Grupo_Usuario" required>
                                <option selected disabled>Seleccione una opción</option>
                                <option value="1">Usuario 1</option>
                                <option value="2">Usuario 2</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.TMCCM_Grupo_Usuario, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TMCCM_Grupo_Usuario, "Acompañantes:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @*@Html.EditorFor(model => model.TN_ID_Tipo_Gasto, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                            <select id="TMCCM_Grupo_Usuario" class="form-control col-md-11" name="TMCCM_Grupo_Usuario" required>
                                <option selected disabled>Seleccione una opción</option>
                                <option value="1">Usuario 1</option>
                                <option value="2">Usuario 2</option>
                            </select>
                            <a href="#" class="fa fa-plus col-md-1"></a>
                            @Html.ValidationMessageFor(model => model.TMCCM_Grupo_Usuario, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <input type="submit" value="Insertar" class="btn btn-primary submit-button" />
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>