@model MCCM.Entidad.TMCCM_Grupo

@{ 
    MCCM.Entidad.TMCCM_Usuario encargado = Model.TMCCM_Grupo_Usuario.Where(e => e.TB_Encargado == true).Select(e => e.TMCCM_Usuario).FirstOrDefault();
    var acompannantes = Model.TMCCM_Grupo_Usuario.Where(e => e.TB_Encargado != true).Select(e => e.TMCCM_Usuario).ToList();
}

<div id="grupo-@Model.TN_ID_Grupo" class="card">
    <div class="card-header">
        <div>Grupo #@Model.TN_ID_Grupo</div>
        <div>
            <a href="#" onclick="abrirActualizarGrupoFormModal(@Model.TN_ID_Grupo);"><span><i class="fa fa-edit"></i></span></a>
            <a href="#" class="borrar borrarGrupo" id="@Model.TN_ID_Grupo"><span><i class="fa fa-trash" data-toggle="modal" data-target="#ModalMensaje" aria-hidden="true"></i></span></a>
        </div>
    </div>
    <div class="card-body">
        @*<div class="d-flex flex-row justify-content-center">
            <span style="margin: 0px 15px;"><i class="fa fa-male"></i></span>
            <span style="margin: 0px 15px;"><i class="fa fa-female"></i></span>
            <span style="margin: 0px 15px;"><i class="fa fa-female"></i></span>
            <span style="margin: 0px 15px;"><i class="fa fa-male"></i></span>
            <span style="margin: 0px 15px;"><i class="fa fa-male"></i></span>
        </div>*@
        <div class="d-flex flex-md-row flex-sm-column justify-content-center my-2">
            <div class="col-md-6">
                <div class="d-flex flex-sm-row">
                    <div class="col-sm-6 w-100">
                        <span class="badge badge-primary w-100">Encargado:</span>
                    </div>
                    <div class="col-sm-6">
                        @if (encargado != null) 
                        {
                            <p>@encargado.TN_ID_Usuario @encargado.TC_Nombre @encargado.TC_Primer_Apellido</p>
                        }
                    </div>
                </div>
                <div class="d-flex flex-sm-row">
                    <div class="col-sm-6">
                        <span class="badge badge-primary w-100">Acompaña:</span>
                    </div>
                    <div class="col-sm-6">
                        @foreach (MCCM.Entidad.TMCCM_Usuario acompannante in acompannantes)
                        {
                            <p>@acompannante.TN_ID_Usuario @acompannante.TC_Nombre @acompannante.TC_Primer_Apellido</p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-sm-row">
                    <div class="col-sm-6 w-100">
                        <span class="badge badge-primary w-100">Zona:</span>
                    </div>
                    <div class="col-sm-6">
                        <p>@Model.TC_Zona</p>
                    </div>
                </div>
                <div class="d-flex flex-sm-row">
                    <div class="col-sm-6 w-100">
                        <span class="badge badge-primary w-100">F/Inicio:</span>
                    </div>
                    <div class="col-sm-6">
                        <p>@Model.TF_Fecha_Inicio</p>
                    </div>
                </div>
                <div class="d-flex flex-sm-row">
                    <div class="col-sm-6 w-100">
                        <span class="badge badge-primary w-100">F/Final:</span>
                    </div>
                    <div class="col-sm-6">
                        <p>@Model.TF_Fecha_Final</p>
                    </div>
                </div>
                <div class="d-flex flex-sm-row">
                    <div class="col-sm-6 w-100">
                        <span class="badge badge-primary w-100">Hora:</span>
                    </div>
                    <div class="col-sm-6">
                        <p>@Model.TF_Hora</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>