@model IEnumerable<MCCM.Entidad.TMCCM_Usuario>

@{
    ViewBag.Title = "prueba";
}
<H5>
    Lista de Usuarios
</H5>

<div class="row justify-content-center">

    <div class="card ">
        <div class="card-header align-content-center col-12">
            <div>Usuarios</div>

            <div><a href="/Usuario/InsertarUsuario"><span><i class="fa fa-plus  "style="margin-left:95%!important"></i></span></a></div>
        </div>
        <div class="card-body ">
            <form form class="form" id="tablaUsuario">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                
                <table class="table">
                    <tr>
                        <th>
                           Codigo
                        </th>
                        <th>
                           Nombre
                        </th>
                        <th>
                            Primer Apellido
                        </th>
                        <th>
                            Segundo Apellido
                        </th> 
                        
                        <th>
                            Accion
                        </th>
                        
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TN_ID_Usuario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TC_Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TC_Primer_Apellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TC_Segundo_Apellido)
                            </td>
                            
                           
                            <td>
                              
                                @Html.ActionLink("Editar", "ModificarUsuario", new { id=item.TN_ID_Usuario }, new { @class = "btn btn-info fa fa-pencil" }) |
                  
                                @Html.ActionLink("Eliminar", "EliminarUsuarioPorID", new { id=item.TN_ID_Usuario }, new { @class = "eliminar btn btn-danger fa fa-trash" })
                            </td>
                        </tr>
                    }

                </table>

            </form>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Usuario/_modalFormAgregarUsuario.cshtml")
@Html.Partial("~/Views/Usuario/_modalFormActualizarUsuario.cshtml")

<script src="~/Scripts/js/Usuario.js"></script>
