@model MCCM.Entidad.TMCCM_Gasto

<div class="modal fade" id="gasto-form-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="gasto-form-modal-title" class="modal-title">Actualizar Gasto</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="gasto-form">
                    <div class="form-group row justify-content-center">
                        <label class="control-label col-sm-3" for="TN_ID_Gasto">Número de gasto:</label>
                        <div class="row col-sm-6">
                            <input id="TN_ID_Gasto" name="TN_ID_Gasto" class="form-control col-sm-11" type="text" value="@Model.TN_ID_Gasto" readonly>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label class="control-label col-sm-3" for="TN_ID_Caso">Número de caso:</label>
                        <div class="row col-sm-6">
                            <input id="TN_ID_Caso_Gasto" name="TN_ID_Caso" class="form-control col-sm-11" type="text" value="@Model.TN_ID_Caso" readonly required>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label class="control-label col-sm-3" for="TF_Fecha">Fecha:</label>
                        <div class="row col-sm-6">
                            <input id="TF_Fecha_Gasto" name="TF_Fecha" class="form-control col-sm-11" type="datetime" value="@(((DateTime) Model.TF_Fecha).ToString("yyyy-MM-dd"))" required>                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label class="control-label col-sm-3" for="TN_Num_Factura">Número de factura:</label>
                        <div class="row col-sm-6">
                            <input id="TN_Num_Factura" name="TN_Num_Factura" class="form-control col-sm-11" type="text" value="@Model.TN_Num_Factura" required>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label class="control-label col-sm-3" for="TN_ID_Tipo_Gasto">Tipo de Gasto:</label>
                        <div class="row col-sm-6">
                            <select id="TN_ID_Tipo_Gasto" class="form-control col-sm-11" name="TN_ID_Tipo_Gasto" title="Seleccione una opción" onchange="$('#TN_ID_Tipo_Gasto-error').hide();" required>
                                @foreach (MCCM.Entidad.TMCCM_C_Gasto_Tipo_Gasto item in ViewBag.TipoGasto)
                                {
                                    if (Model.TN_ID_Tipo_Gasto == item.TN_ID_Tipo_Gasto)
                                    {
                                        <option value="@item.TN_ID_Tipo_Gasto" selected>@item.TC_Nombre</option>
                                    }
                                    else
                                    {
                                        <option value="@item.TN_ID_Tipo_Gasto">@item.TC_Nombre</option>
                                    }
                                }
                            </select>
                            <a href="#" class="fa fa-plus col-sm-1 align-self-center font_gris" data-dismiss="modal" data-toggle="modal" data-target="#tipo_gasto-form-modal"></a>
                            <label id="TN_ID_Tipo_Gasto-error" class="error" for="TN_ID_Tipo_Gasto" style="display: none"></label>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label class="control-label col-sm-3" for="TD_Monto">Monto:</label>
                        <div class="row col-sm-6">
                            <input id="TD_Monto" name="TD_Monto" class="form-control col-sm-11" type="number" value="@Model.TD_Monto" required>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <label class="control-label col-sm-3" for="TC_Compra">Detalle:</label>
                        <div class="row col-sm-6">
                            <textarea id="TD_MTC_Compraonto" name="TC_Compra" class="form-control col-sm-11" required>@Model.TC_Compra</textarea>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <input id="gasto-form-modal-submit" type="button" value="Actualizar" class="btn btn-primary submit-button mx-2" onclick="actualizarGasto();" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    aplicarGastoDateRangePicker();
    aplicarGastoSelectPicker();
</script>
