@model MCCM.Entidad.TMCCM_Gasto

<div class="modal fade" id="gasto-form-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                @if (Model != null)
                {
                    <h4 id="gasto-form-modal-title" class="modal-title">Insertar Gasto</h4>
                }
                else
                {
                    <h4 id="gasto-form-modal-title" class="modal-title">Actualizar Gasto</h4>
                }
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="gasto-form" method="post">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TN_ID_Gasto, "Número de gasto:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @Html.EditorFor(model => model.TN_ID_Gasto, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control col-md-11",
                                    type = "text",
                                    @readonly = "readonly"
                                }
                            })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TN_ID_Caso, "Número de caso:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @Html.EditorFor(model => model.TN_ID_Caso, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control col-md-11 TN_ID_Caso",
                                    type = "text",
                                    @readonly = "readonly",
                                }
                            })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TF_Fecha, "Fecha:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @Html.EditorFor(model => model.TF_Fecha, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control col-md-11",
                                    @type = "date"
                                }
                            })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TN_Num_Factura, "Número de factura:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @Html.EditorFor(model => model.TN_Num_Factura, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control col-md-11",
                                    required = "required",
                                    type = "number"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.TN_Num_Factura, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TN_ID_Tipo_Gasto, "Tipo de gasto", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @*@Html.EditorFor(model => model.TN_ID_Tipo_Gasto, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                            <select id="TN_ID_Tipo_Gasto" class="form-control col-md-11" name="TN_ID_Tipo_Gasto" required>
                                <option selected disabled>Seleccione una opción</option>
                                <option value="1">Operativo</option>
                                <option value="2">Combustible</option>
                            </select>
                            <a href="#" class="fa fa-plus col-md-1"></a>
                            @Html.ValidationMessageFor(model => model.TN_ID_Tipo_Gasto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TD_Monto, "Monto:", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @Html.EditorFor(model => model.TD_Monto, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control col-md-11",
                                    required = "required",
                                    type = "number"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.TD_Monto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        @Html.LabelFor(model => model.TC_Compra, "Detalle", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="row col-md-6">
                            @Html.EditorFor(model => model.TC_Compra, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control col-md-11",
                                    required = "required",
                                    type = "text"
                                }
                            })
                            @Html.ValidationMessageFor(model => model.TC_Compra, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <input id="gasto-form-modal-submit" type="button" value="Insertar" class="btn btn-primary submit-button" onclick="insertarGasto();" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>