@model MCCM.Entidad.TMCCM_Gasto

<div id="gasto-@Model.TN_ID_Gasto" class="card">
    <div class="card-header">
        <div>Gasto #@Model.TN_ID_Gasto</div>
        <div>
            <a href="#" onclick="abrirActualizarGastoFormModal(@Model.TN_ID_Gasto);"><span><i class="fa fa-edit"></i></span></a>
            <a href="#" class="borrar borrarGasto" id="@Model.TN_ID_Gasto"><span><i class="fa fa-trash" data-toggle="modal" data-target="#ModalMensaje" aria-hidden="true"></i></span></a>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex flex-sm-row">
            <div class="col-sm-6">
                <span class="badge badge-primary w-100">Fecha/Hora:</span>
            </div>
            <div class="col-sm-6">
                <p>@(((DateTime) Model.TF_Fecha))</p>
            </div>
        </div>
        <div class="d-flex flex-sm-row">
            <div class="col-sm-6">
                <span class="badge badge-primary w-100">Factura:</span>
            </div>
            <div class="col-sm-6">
                <p>@Model.TN_Num_Factura</p>
            </div>
        </div>
        <div class="d-flex flex-sm-row">
            <div class="col-sm-6">
                <span class="badge badge-primary w-100">Tipo de gasto:</span>
            </div>
            <div class="col-sm-6">
                <p>@Model.TMCCM_C_Gasto_Tipo_Gasto.TC_Nombre</p>
            </div>
        </div>
        <div class="d-flex flex-sm-row">
            <div class="col-sm-6">
                <span class="badge badge-primary w-100">Monto:</span>
            </div>
            <div class="col-sm-6">
                <p>@Model.TD_Monto</p>
            </div>
        </div>
        <div class="d-flex flex-sm-row">
            <div class="col-sm-6">
                <span class="badge badge-primary w-100">Detalle:</span>
            </div>
            <div class="col-sm-6">
                <p>@Model.TC_Compra</p>
            </div>
        </div>
    </div>
</div>