@model IEnumerable<MCCM.Entidad.TMCCM_Gasto>

@*@foreach (var item in Model)
{
    <div id="gasto-@item.TN_ID_Gasto" class="card border-light mb-3" style="margin: 5px; padding: 0 0;">
        <div class="card-header">
            <div>Gasto #@item.TN_ID_Gasto</div>
            <div>
                <a href="#"><span><i class="fa fa-edit"></i></span></a>
                <a href="#" onclick="removeGasto(@item.TN_ID_Gasto)"><span><i class="fa fa-trash"></i></span></a>
            </div>
        </div>
        <div class="card-body card-body-list">
            <div class="group">
                <span class="badge badge-primary">Fecha:</span>
                <p>@item.TF_Fecha</p>
            </div>
            <div class="group">
                <span class="badge badge-primary">Factura:</span>
                <p>@item.TN_Num_Factura</p>
            </div>
            <div class="group">
                <span class="badge badge-primary">Tipo de Gasto:</span>
                <p>Nulo</p>
            </div>
            <div class="group">
                <span class="badge badge-primary">Monto:</span>
                <p>@item.TD_Monto</p>
            </div>
            <div class="group">
                <span class="badge badge-primary">Detalle:</span>
                <p>@item.TC_Compra</p>
            </div>
        </div>
    </div>
}*@

@*Solo para previsualizar*@
<div id="gasto-1" class="card border-light mb-3" style="margin: 5px; padding: 0 0;">
    <div class="card-header">
        <div>Gasto #1</div>
        <div>
            <a href="#"onclick="openUpdateGastoModal(1)"><span><i class="fa fa-edit"></i></span></a>
            <a href="#"><span><i class="fa fa-trash"></i></span></a>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-4 text-right"><span class="badge badge-primary" style="width: 100px;">Fecha:</span></div>
            <div class="col-md-8"><p>12/12/2020</p></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 text-right"><span class="badge badge-primary" style="width: 100px;">Factura:</span></div>
            <div class="col-md-8"><p>1234567</p></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 text-right"><span class="badge badge-primary" style="width: 100px;">Tipo de Gasto:</span></div>
            <div class="col-md-8"><p>Operativo</p></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 text-right"><span class="badge badge-primary" style="width: 100px;">Monto:</span></div>
            <div class="col-md-8"><p>50.000</p></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 text-right"><span class="badge badge-primary" style="width: 100px;">Detalle:</span></div>
            <div class="col-md-8"><p>Detalle de compra</p></div>
        </div>
    </div>
</div>