@{
    ViewBag.Title = "Dashboard";
}

@*CSS*@
<link href="~/Content/css/Dashdboard.css" rel="stylesheet" />

@*JS*@
<script src="~/Scripts/js/Dashboard.js"></script>
<script src="~/Scripts/js/Gasto.js"></script>
<script src="~/Scripts/js/Grupo.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<style>
    .filaseleccionada {
        background-color: cornflowerblue;
    }

    #FormCaso .form-row .col-md-10 {
        padding-left: 20%;
    }

    #FormEvento .form-row .col-md-10 {
        padding-left: 10%;
    }
</style>

<div class="col-sm-12" id="dashboard-container">

    <div class="col-md-2 dashboard-child" style="margin: 0 0">

        <div class="card border-light mb-3" style="height: 70%;">
            <div class="card-header">
                <div>Casos</div>
                <div><a href="#"><span><i class="fa fa-plus" data-toggle="modal" data-target="#ModalFormCaso"></i></span></a></div>
            </div>
            <div class="card-body" id="casos-body" style="overflow-y: scroll">

            </div>
        </div>

        <div class="card border-light mb-3" style="height: 30%;">
            <div class="card-header">
                <div>Mando</div>
                <div><a href="#"><span><i class="fa fa-plus"></i></span></a></div>
            </div>
            <div class="card-body" id="mado-body">

            </div>
        </div>

    </div>

    <div class="col-md-10 dashboard-child" style="margin: 0 0">

        <div class="card border-light mb-3" style="height: 100%">
            <div class="card-header">

                @*Pestannas nav*@
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" style="margin: 0; padding: 0 0;">
                            <li class="breadcrumb-item"><a class="nav-link" href="#" style="padding: 0 0;" onclick="changeVisiblePestannaBody('pestanna-1-body');">Pestaña #1</a></li>
                            <li class="breadcrumb-item"><a class="nav-link" href="#" style="padding: 0 0;" onclick="changeVisiblePestannaBody('pestanna-2-body');">Pestaña #2</a></li>
                            <li class="breadcrumb-item"><a class="nav-link" href="#" style="padding: 0 0;" onclick="changeVisiblePestannaBody('reporte-body');">Generar reporte</a></li>
                        </ol>
                    </nav>
                </div>

                <div>
                    <a style="text-decoration: none;" href="https://www.teletica.com/vivo?canal=teletica7" target="_blank">Teletica</a>
                    <a style="text-decoration: none;" href="https://www.repretel.com/envivo-canal6/" target="_blank">Repretel</a>
                </div>

            </div>

            @*Pestanna #1 Body*@
            <div class="card-body card-body-flex" id="pestanna-1-body">

                <div class="card border-light mb-3 col-md-4" style=" margin: 0 0; padding: 0 0;">
                    <div class="card-header">
                        <div>Bitácora</div>
                        <div><a href="#"><span><i class="fa fa-plus" data-toggle="modal" data-target="#ModalFormEvento"></i></span></a></div>
                    </div>
                    <div class="card-body" id="bitacora-body" style="overflow-y: scroll">
                        <div class="container">
                            <div class="card evento" id="' + eventos.TN_ID_Caso + '">

                                <div class="card-header">
                                    <div>Evento # 1</div>
                                    <div>
                                        <a href="#" class="editarEvento" id="1"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                                        <a href="#" class="borrar borrarEvento" id="1"><span><i class="fa fa-trash" data-toggle="modal" data-target="#ModalMensaje" aria-hidden="true"></i></span></a>
                                    </div>

                                </div>
                                <div class="card-body" style="padding:0px!important">
                                    <div class="container">

                                        <div class="row">
                                            <div class="col-4">
                                                <h6><span class="w-100 badge badge-primary">Fecha/Hora</span></h6>
                                            </div>
                                            <div class="col-md-8" id="divInformaC">
                                                <small id="eCalendario">2020/10/09 5:00PM</small>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <h6><span class="w-100 badge badge-primary">Informa:</span></h6>
                                            </div>
                                            <div class="col-md-8" id="divInformaC">
                                                <small id="eInforma">Maikel Matamoroso Zuñiga</small>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <h6><span class="w-100 badge badge-primary">Lugar:</span></h6>
                                            </div>

                                            <div class="col-md-8" id="divLugarC">
                                                <small eLugar>En Turri</small>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <h6><span class="w-100 badge badge-primary">Novedad:</span></h6>
                                            </div>
                                            <div class="col-md-8" id="divNovedadC">
                                                <p id="eNovedad">Valeria está vendiendo mota a todos los niños de la escuela T_T</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="card border-light mb-3 col-md-4" style="height: 100%; margin: 0 0; padding: 0 0;">
                    <div class="card-header">
                        <div>Entidades</div>
                        <div>
                            <a href="#" onclick="seleccionEntidad()"><span><i class="fa fa-plus"></i></span></a>
                        </div>
                    </div>
                    <div class="card border-light" style="height: 100%; margin: 0 0; padding: 0 0;">
                        <div class="card-header">
                            <div id="botones" class="nav nav-tabs card-header-tabs">
                                <input type="hidden" id="custId" name="custId" value="1">
                                <a class="nav-item nav-link active fa fa-user" id="entidadPersona" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true" onclick="seleccionado('1')"></a>
                                <a class="nav-item nav-link fa fa-building" id="entidadPersonaJuridica" data-toggle="tab" href="#" role="tab" aria-controls="nav-profile" aria-selected="false" onclick="seleccionado('2')"></a>
                                <a class="nav-item nav-link fa fa-car" id="entidadCarro" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false" onclick="seleccionado('3')"></a>
                                <a class="nav-item nav-link fa fa-map-marker" id="nav-contact-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false" onclick="seleccionado('4')"></a>
                                <a class="nav-item nav-link fa fa-phone" id="nav-contact-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false" onclick="seleccionado('5')"></a>
                                <a class="nav-item nav-link fa fa-bomb" id="nav-contact-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false" onclick="seleccionado('6')"></a>
                                <a class="nav-item nav-link fa fa-magic" id="nav-contact-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact" aria-selected="false" onclick="seleccionado('7')"></a>

                            </div>
                        </div>
                        <div class="card-body" id="entidades-body" style="overflow-y: scroll">
                            <div class="container">

                                @*Carta EntidadPersona*@

                                <div class="card" id="cartaEntidadPersona">

                                    <div class="card-header">
                                        <div>Entidad Persona #1</div>
                                        <div>
                                            <a href="#" class="editarEvento" id="1"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                                            <a href="#" class="borrar borrarTarea" id="1"><span><i class="fa fa-trash" data-toggle="modal" data-target="#ModalMensaje" aria-hidden="true"></i></span></a>
                                        </div>

                                    </div>
                                    <div class="card-body" style="padding:0px!important">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="https://wikipsicologia.com/wp-content/uploads/2020/04/fortalezas-y-deb-1.jpg" class="img-fluid">
                                                </div>

                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <h6><span class="w-100 badge badge-primary">Nombre</span></h6>
                                                        </div>
                                                        <div class="col-md-8" id="divInforma">
                                                            <small>Juanito</small>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-4">
                                                            <h6><span class="w-100 badge badge-primary">Identificación:</span></h6>
                                                        </div>
                                                        <div class="col-md-8" id="divInforma">
                                                            <small>1-2345-6789</small>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-4">
                                                            <h6><span class="w-100 badge badge-primary">Alias:</span></h6>
                                                        </div>

                                                        <div class="col-md-8" id="divLugar">
                                                            <small>Foret</small>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-4">
                                                            <h6><span class="w-100 badge badge-primary">Nacionalidad:</span></h6>
                                                        </div>
                                                        <div class="col-md-8" id="divNovedad">
                                                            <p>Costarricense</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <h6><span class="w-100 badge badge-primary">Genero:</span></h6>
                                                        </div>
                                                        <div class="col-md-8" id="divNovedad">
                                                            <p>Indefinido</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                @*Carta EntidadPersonaJuridica*@
                                <div class="card" id="cartaEntidadPersonaJuridica" style="display:none">

                                    <div class="card-header">
                                        <div>Entidad Cedula Juridica #1</div>
                                        <div>
                                            <a href="#" class="editarEvento" id="1"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                                            <a href="#" class="borrar borrarTarea" id="1"><span><i class="fa fa-trash" data-toggle="modal" data-target="#ModalMensaje" aria-hidden="true"></i></span></a>
                                        </div>

                                    </div>
                                    <div class="card-body" style="padding:0px!important">
                                        <div class="container">

                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Cedula Juridica:</span></h6>
                                                </div>
                                                <div class="col-md-8" id="divInforma">
                                                    <p>0-0000-0000<p />

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Nombre Organización:</span></h6>
                                                </div>
                                                <div class="col-md-8" id="divInforma">
                                                    <p>Tegit Habntem mundum</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Tipo Organización:</span></h6>
                                                </div>

                                                <div class="col-md-8" id="divLugar">
                                                    <p>Animalia fulgura arce</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Carta EntidadVehiculo*@

                                <div class="card" id="cartaEntidadVehiculo" style="display:none">

                                    <div class="card-header">
                                        <div>Entidad Vehiculo #1</div>
                                        <div>
                                            <a href="#" class="editarEvento" id="1"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                                            <a href="#" class="borrar borrarTarea" id="1"><span><i class="fa fa-trash" data-toggle="modal" data-target="#ModalMensaje" aria-hidden="true"></i></span></a>
                                        </div>

                                    </div>
                                    <div class="card-body" style="padding:0px!important">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img src="https://cnet3.cbsistatic.com/img/nMoE20f4PXRsjkiuTZIL9dbM6sI=/940x0/2019/07/03/c83d8791-3cfe-4b2b-b6d8-219646c5333d/mazda-cx-5-2019-foto.jpg" class="img-fluid">
                                                </div>

                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <h6><span class="w-100 badge badge-primary">Placa</span></h6>
                                                        </div>
                                                        <div class="col-md-8" id="divInforma">
                                                            <small>000000</small>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-4">
                                                            <h6><span class="w-100 badge badge-primary">Marca:</span></h6>
                                                        </div>
                                                        <div class="col-md-8" id="divInforma">
                                                            <p>Campoque pinus sole</p>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-4">
                                                            <h6><span class="w-100 badge badge-primary">Estilo:</span></h6>
                                                        </div>

                                                        <div class="col-md-8" id="divLugar">
                                                            <small>Fossae</small>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                @*Carta EntidadVehiculo*@

                                @*Carta EntidadUbicacion*@
                                <div class="card" id="cartaEntidadUbicacion" style="display:none">

                                    <div class="card-header">
                                        <div>Entidad Ubicacion #1</div>
                                        <div>
                                            <a href="#" class="editarEvento" id="1"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                                            <a href="#" class="borrar borrarTarea" id="1"><span><i class="fa fa-trash" data-toggle="modal" data-target="#ModalMensaje" aria-hidden="true"></i></span></a>
                                        </div>

                                    </div>
                                    <div class="card-body" style="padding:0px!important">
                                        <div class="container">

                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Provincia:</span></h6>
                                                </div>
                                                <div class="col-md-8" id="divInforma">
                                                    <p>Cartago<p />

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Cantón:</span></h6>
                                                </div>
                                                <div class="col-md-8" id="divInforma">
                                                    <p>Turrialba</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Distrito:</span></h6>
                                                </div>

                                                <div class="col-md-8" id="divLugar">
                                                    <p>Distrito</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Señas:</span></h6>
                                                </div>

                                                <div class="col-md-8" id="divLugar">
                                                    <p>Por la ucr</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                @*Carta EntidadTelefono*@
                                <div class="card" id="cartaEntidadTelefono" style="display:none">

                                    <div class="card-header">
                                        <div>Entidad Telefono #1</div>
                                        <div>
                                            <a href="#" class="editarEvento" id="1"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                                            <a href="#" class="borrar borrarTarea" id="1"><span><i class="fa fa-trash" data-toggle="modal" data-target="#ModalMensaje" aria-hidden="true"></i></span></a>
                                        </div>

                                    </div>
                                    <div class="card-body" style="padding:0px!important">
                                        <div class="container">

                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Número:</span></h6>
                                                </div>
                                                <div class="col-md-8" id="divInforma">
                                                    <p>0000-00000<p />

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Empresa:</span></h6>
                                                </div>
                                                <div class="col-md-8" id="divInforma">
                                                    <p>Kolbi ICE</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Comentario:</span></h6>
                                                </div>

                                                <div class="col-md-8" id="divLugar">
                                                    <p>No contesta</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                @*Carta EntidadArma*@
                                <div class="card" id="cartaEntidadArma" style="display:none">

                                    <div class="card-header">
                                        <div>Entidad Arma #1</div>
                                        <div>
                                            <a href="#" class="editarEvento" id="1"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                                            <a href="#" class="borrar borrarTarea" id="1"><span><i class="fa fa-trash" data-toggle="modal" data-target="#ModalMensaje" aria-hidden="true"></i></span></a>
                                        </div>

                                    </div>
                                    <div class="card-body" style="padding:0px!important">
                                        <div class="container">

                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Marca:</span></h6>
                                                </div>
                                                <div class="col-md-8" id="divInforma">
                                                    <p>Caecoque minantia obstabatque<p />

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Tipo:</span></h6>
                                                </div>
                                                <div class="col-md-8" id="divInforma">
                                                    <p>Pistola</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Calibre:</span></h6>
                                                </div>

                                                <div class="col-md-8" id="divLugar">
                                                    <p>9mm</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                @*Carta EntidadDroga*@
                                <div class="card" id="cartaEntidadDroga" style="display:none">

                                    <div class="card-header">
                                        <div>Entidad Arma #1</div>
                                        <div>
                                            <a href="#" class="editarEvento" id="1"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                                            <a href="#" class="borrar borrarTarea" id="1"><span><i class="fa fa-trash" data-toggle="modal" data-target="#ModalMensaje" aria-hidden="true"></i></span></a>
                                        </div>

                                    </div>
                                    <div class="card-body" style="padding:0px!important">
                                        <div class="container">

                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Nombre:</span></h6>
                                                </div>
                                                <div class="col-md-8" id="divInforma">
                                                    <p>Cannabis<p />

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-4">
                                                    <h6><span class="w-100 badge badge-primary">Cantidad:</span></h6>
                                                </div>
                                                <div class="col-md-8" id="divInforma">
                                                    <p>0g</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card border-light mb-3 col-md-4" style="height: 100%; margin: 0 0; padding: 0 0;">
                    <div class="card-header">
                        <div>Tareas</div>
                        <div><a href="#"><span><i class="fa fa-plus" data-toggle="modal" data-target="#ModalFormTarea"></i></span></a></div>
                    </div>
                    <div class="card-body" id="tareas-body" style="overflow-y: scroll">
                        <div class="container">
                            <div class="card tarea">

                                <div class="card-header">
                                    <div>Tarea # 1</div>
                                    <div>
                                        <a href="#" class="editarTarea" id="1"><span><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
                                        <a href="#" class="borrar borrarTarea" id="1"><span><i class="fa fa-trash" data-toggle="modal" data-target="#ModalMensaje" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                                <div class="card-body" style="padding:0px!important">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <h6><span class="w-100 badge badge-primary">Fecha/Hora</span></h6>
                                                    </div>
                                                    <div class="col-md-8" id="divInforma">
                                                        <small>2020/10/09 5:00PM</small>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-8">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <h6><span class="w-100 badge badge-primary">Informa:</span></h6>
                                                    </div>
                                                    <div class="col-md-8" id="divInforma">
                                                        <small>Maikel Matamoroso Zuñiga</small>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-4">
                                                        <h6><span class="w-100 badge badge-primary">Lugar:</span></h6>
                                                    </div>

                                                    <div class="col-md-8" id="divLugar">
                                                        <small>En Turri</small>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-4">
                                                        <h6><span class="w-100 badge badge-primary">Novedad:</span></h6>
                                                    </div>
                                                    <div class="col-md-8" id="divNovedad">
                                                        <p>Valeria está vendiendo mota a todos los niños de la escuela T_T</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            @*Pestanna #2 Body*@
            <div class="card-body card-body-flex" id="pestanna-2-body">

                <div class="card border-light mb-3 col-md-4" style="height: 100%; margin: 0 0; padding: 0 0;">
                    <div class="card-header">
                        <div>Gastos Operativos</div>
                        <div><a href="#"><span><i class="fa fa-plus" onclick="openInsertGastoModal()"></i></span></a></div>
                    </div>
                    <div class="card-body" style="overflow-y: scroll">
                        @* Solo para previsualizar *@
                        @Html.Partial("~/Views/Gasto/_List.cshtml")
                    </div>
                </div>

                <div class="card border-light mb-3 col-md-5" style="height: 100%; margin: 0 0; padding: 0 0;">
                    <div class="card-header">
                        <div>Personal</div>
                        <div><a href="#"><span><i class="fa fa-plus" onclick="openInsertGrupoModal()"></i></span></a></div>
                    </div>
                    <div class="card-body" id="personal-body" style="overflow-y: scroll">
                        @* Solo para previsualizar *@
                        @Html.Partial("~/Views/Grupo/_List.cshtml")
                    </div>
                </div>

                <div class="card border-light mb-3 col-md-3" style="height: 100%; margin: 0 0; padding: 0 0;">
                    <div class="card-header">
                        <div>Vehículos</div>
                        <div><a href="#"><span><i class="fa fa-plus" onclick="openAddVehiculoModal()"></i></span></a></div>
                    </div>
                    <div class="card-body" id="vehiculos-body" style="overflow-y: scroll">
                        @* Solo para previsualizar *@
                        @Html.Partial("~/Views/Grupo/_ListVehiculos.cshtml")
                    </div>
                </div>

            </div>

            @*Reporte Body*@
            <div class="card-body card-body-flex" id="reporte-body">

            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

 @*Metodo para cambiar variable global hidden*@
function seleccionado(seleccion) {
    var global = document.getElementById('custId').value;

    if (seleccion !== global) {
        document.getElementById('custId').value = seleccion;
    }
    if (seleccion == 1) {
        $('#cartaEntidadPersona').show();
        $('#cartaEntidadPersonaJuridica').hide();
        $('#cartaEntidadVehiculo').hide();
        $('#cartaEntidadUbicacion').hide();
        $('#cartaEntidadTelefono').hide();
        $('#cartaEntidadArma').hide();
        $('#cartaEntidadDroga').hide();
    }
    if (seleccion == 2) {
         $('#cartaEntidadPersona').hide();
        $('#cartaEntidadPersonaJuridica').show();
        $('#cartaEntidadVehiculo').hide();
        $('#cartaEntidadUbicacion').hide();
        $('#cartaEntidadTelefono').hide();
        $('#cartaEntidadArma').hide();
        $('#cartaEntidadDroga').hide();
    }
    if (seleccion == 3) {
         $('#cartaEntidadPersona').hide();
        $('#cartaEntidadPersonaJuridica').hide();
        $('#cartaEntidadVehiculo').show();
        $('#cartaEntidadUbicacion').hide();
        $('#cartaEntidadTelefono').hide();
        $('#cartaEntidadArma').hide();
        $('#cartaEntidadDroga').hide();
    }
    if (seleccion == 4) {
         $('#cartaEntidadPersona').hide();
        $('#cartaEntidadPersonaJuridica').hide();
        $('#cartaEntidadVehiculo').hide();
        $('#cartaEntidadUbicacion').show();
        $('#cartaEntidadTelefono').hide();
        $('#cartaEntidadArma').hide();
        $('#cartaEntidadDroga').hide();
    }
    if (seleccion == 5) {
         $('#cartaEntidadPersona').hide();
        $('#cartaEntidadPersonaJuridica').hide();
        $('#cartaEntidadVehiculo').hide();
        $('#cartaEntidadUbicacion').hide();
        $('#cartaEntidadTelefono').show();
        $('#cartaEntidadArma').hide();
        $('#cartaEntidadDroga').hide();
    }

    if (seleccion == 6) {
         $('#cartaEntidadPersona').hide();
        $('#cartaEntidadPersonaJuridica').hide();
        $('#cartaEntidadVehiculo').hide();
        $('#cartaEntidadUbicacion').hide();
        $('#cartaEntidadTelefono').hide();
        $('#cartaEntidadArma').show();
        $('#cartaEntidadDroga').hide();
    }
    if (seleccion == 7) {
         $('#cartaEntidadPersona').hide();
        $('#cartaEntidadPersonaJuridica').hide();
        $('#cartaEntidadVehiculo').hide();
        $('#cartaEntidadUbicacion').hide();
        $('#cartaEntidadTelefono').hide();
        $('#cartaEntidadArma').hide();
        $('#cartaEntidadDroga').show();
    }

}

 @*Metodo para seleccionar la entidad*@
function seleccionEntidad() {
    var global = document.getElementById('custId').value;

    if (global == 1) {
        $('#entidadPersonaModal').modal('show');
    }
    if (global == 2) {

        $('#entidadPersonaJuridicaModal').modal('show');
    }
    if (global == 3) {

        $('#entidadVehículoModal').modal('show');
    }
    if (global == 4) {

        $('#entidadUbicacionModal').modal('show');
    }
    if (global == 5) {

        $('#entidadTelefonoModal').modal('show');
    }
    if (global == 6) {

        $('#entidadArmaModal').modal('show');
    }
    if (global == 7) {

        $('#entidadDrogaModal').modal('show');
    }
    }
</script>

@Html.Partial("EntidadPersona")
@Html.Partial("EntidadVehiculo")
@Html.Partial("EntidadUbicacion")
@Html.Partial("EntidadTelefono")
@Html.Partial("EntidadArma")
@Html.Partial("EntidadDroga")
@Html.Partial("EntidadPersonaJuridica")
@Html.Partial("~/Views/Caso/_ModalCasoInsert.cshtml")
@Html.Partial("~/Views/Bitacora/_ModalEventoForm.cshtml")
@Html.Partial("~/Views/Tarea/_ModalFormTarea.cshtml")
@Html.Partial("_ModalMensajeConfirmacion")
@Html.Partial("~/Views/Gasto/_FormModal.cshtml")
@Html.Partial("~/Views/Grupo/_FormModal.cshtml")
@Html.Partial("~/Views/Grupo/_FormAddVehiculoModal.cshtml")
